:root {
  --primary-color-light: #f5f5f5;
  --primary-bg-color-dark: rgba(33, 33, 33, .80);
  --bg-color-dark: rgb(33, 33, 33);
  --link-color: #DA6F97;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  color: #999;
}

a {
  text-decoration: none;
}

a,
a:hover {
  color: inherit;
}

ul {
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  line-height: 1.15;
  /*letter-spacing: -0.2rem;*/
}

/* Type Scale - Minor Third */

h1 {
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small,
.text_small {
  font-size: 0.833em;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  /* Type Scale - Major Third */

  h1 {
    margin-top: 0;
    font-size: 3.052em;
  }

  h2 {
    font-size: 2.441em;
  }

  h3 {
    font-size: 1.953em;
  }

  h4 {
    font-size: 1.563em;
  }

  h5 {
    font-size: 1.25em;
  }

  small,
  .text_small {
    font-size: 0.8em;
  }
}
